<section class="bg-terciary min-h-screen py-8">
<div class="grid grid-cols-5 grid-rows-5 gap-4 max-w-6xl mx-auto">
    <div class="col-span-4 row-span-3 bg-primary aspect-video rounded-2xl overflow-hidden">
        <img src="/Images/Tecles2.webp" alt="Tecles mec치nicos de cadena reci칠n pintados, en color 
        naranja brillante, colgados en fila junto a otros en color gris, listos para su uso o almacenamiento.">
    </div> 

    <div class="font-special row-span-2 col-start-5 bg-primary rounded-2xl text-4xl 
    text-center text-white font-black justify-center items-center flex">

     <div class="flex flex-col">
        <span>ACERCA</span><span> DE</span>
     </div>
    </div>

    <div class="font-special col-span-2 col-start-1 row-start-4 bg-primary rounded-2xl text-4xl 
    text-center text-white font-black justify-center items-center flex">CONT츼CTANOS</div>

    <div class="font-special col-span-2 col-start-3 row-start-4 bg-primary rounded-2xl text-4xl 
    text-center text-white font-black justify-center items-center flex">SERVICIOS</div>

    <div class="row-span-2 col-start-5 row-start-3 bg-primary max-h-85 rounded-2xl overflow-hidden">
        <img src="/Images/Cadenas.webp" alt="Cadenas de acero industriales colgadas en fila, 
        utilizadas para tecles o polipastos, listas para instalaci칩n o mantenimiento">
    </div>

    <div class="col-span-3 col-start-2 row-start-5 relative overflow-hidden">
        <button id="toggleMapBtn" class="block w-full h-full group cursor-pointer border-none p-0 bg-transparent">
          <img
            class="absolute inset-0 w-full h-full object-cover rounded-2xl transition-transform group-hover:scale-105"
            src="/Images/map.webp"
            alt="mapa de Chile con un marcador en la ubicaci칩n de TeclesChile">
          <div class="absolute inset-0 bg-primary/20 opacity-0 group-hover:opacity-100 transition-opacity rounded-2xl flex items-center justify-center">
            <span id="mapButtonText" class="text-white font-bold text-lg">游늸 Ver Ubicaci칩n</span>
          </div>
        </button>
    </div>
</div>
</section>